body {
  padding-top: 20px;
  background-color: goldenrod;
}
.buttons{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-top: 30px;
  padding-left: 780px;
}
.ui.grid{
  width: 1000px;
  alignment: center;
  padding-left: 148px;
}

.field{
  width: 800px;
  font-size: 20px;
  padding-top: 15px;
  align-content: first;
}

.groupedfields{
  font-size: 20px;
  padding-top: 15px;
  font-weight: bold;
}
